.organisation {
    margin: 20px;
}

.organisation .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.organisation .header .left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.organisation .header img {
    width: 120px;
}

.organisation .header h1 {
    font-size: 50px;
}

.organisation .details {
    border-bottom: 5px dotted var(--accent);
    display: flex;
}

.organisation .income .head {
    display: flex;
    justify-content: space-between;
}

.organisation .income button {
    margin-left: auto;
    margin-right: 20px;
    float: right;
}

.formalButton {
    /* Formal button styles */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--accent);
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formalButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

.organisation .details h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.organisation .details h2 span {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.organisation .details p {
    margin-bottom: 20px;
}

.income {
    margin: 20px;
}

.income h2 {
    font-size: 30px;
    margin-bottom: 25px;
}







.table {
    width: 100%;
    border: var(--accent) 0.5px solid ;
}

.table>div {
    width: 100%;
    padding: 15px 10px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    text-align: center;
    cursor: pointer;
    transition: 100ms;
}

.table>div>span.pay_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.table>div>span.pay_button>div {
    background-color: transparent;
}

.table>div>span.pay_button>div>span {
    font-size: 20px;
    padding: 7px;
    display: block;
    background-color: var(--accent);
    border-radius: 100px;
}

.table div:nth-child(odd) {
    background-color: var(--accent-transparent);
}

.table div:hover {
    background-color: #15145f;
}

.table div.heading {
    font-size: 22px;
    font-weight: 800;
    background-color: var(--accent);
    cursor: default;
}