.settings {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 500px;
    gap: 10px;
}

.settings input {
    padding: 10px;
    font-size: 80%;
}